
<div class="center">

<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :stadium %><br />
    <%= f.text_field :stadium %>
  </div>
  <div class="field" >
    <%= f.label :colour_one %><br />
    <%= f.text_field :colour_one, :class => 'color' %>
  </div>
  <div class="field">
    <%= f.label :colour_two %><br />
    <%= f.text_field :colour_two, :class => 'color'   %>
  </div>
  <div class="actions">
    <%= f.submit "Done", :class => 'btn' %>
  </div>
<% end %>
</div>
