<h1>Listing team_player_days</h1>

<table>
  <tr>
    <th>Team</th>
    <th>Player day</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @team_player_days.each do |team_player_day| %>
  <tr>
    <td><%= team_player_day.team %></td>
    <td><%= team_player_day.player_day %></td>
    <td><%= link_to 'Show', team_player_day %></td>
    <td><%= link_to 'Edit', edit_team_player_day_path(team_player_day) %></td>
    <td><%= link_to 'Destroy', team_player_day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team player day', new_team_player_day_path %>
