<h1>Listing days</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Day</th>
    <th>League</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @days.each do |day| %>
  <tr>
    <td><%= day.number %></td>
    <td><%= day.day %></td>
    <td><%= day.league %></td>
    <td><%= link_to 'Show', day %></td>
    <td><%= link_to 'Edit', edit_day_path(day) %></td>
    <td><%= link_to 'Destroy', day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Day', new_day_path %>
