<div class="center">

	<%= form_for(@player) do |f| %>
	  <% if @player.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>
	
	      <ul>
	      <% @player.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	
	  <div class="field">
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </div>
	  <div class="field">
	    <%= f.label :role %><br />
	    <%= f.text_field :role %>
	  </div>
	  <div class="field">
	    <%= f.label :club %><br />
	    <%= f.text_field :club %>
	  </div>
	  <div class="field">
	    <%= f.label :league %><br />
	    <%= collection_select(:player, :league_id, League.all, :id, :name) %>
	  </div>
	  <div class="actions">
	    <%= f.submit "Done", :class => 'btn' %>
	  </div>
	<% end %>
</div>
