<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Role:</b>
  <%= @player.role %>
</p>

<p>
  <b>Club:</b>
  <%= @player.club %>
</p>

<p>
  <b>League:</b>
  <%= @player.league %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
