<!DOCTYPE html>
<html>
<head>
  <title>Candyscup</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="topimg">
    <div id="maincontent">
    <div id="header" class="clearfix">
      <div id="Logo">
        <h1><a href="#">Soccer Field 1</a></h1>
      </div>
      <div id="user_nav">
      	<% if current_user %> 
      		<%= "Signed in as #{current_user.username}." %>
			<%= link_to "Sign out", logout_path %>
		<% else %>
			<%= link_to "Sign in", new_user_session_path %>
			<%= "or" %>
			<%= link_to "Register", new_user_path %>
		<% end %>
      </div>
      <div id="selSubHeader" class="clsFloatRight">
        <ul class="clsClearFixSub">
          <li class="clsActive"><a href="#">HOME</a></li>
          <li><a href="#">FUN CLUB</a></li>
          <li><a href="#">CALENDAR</a></li>
          <li><a href="#">GALLERY</a></li>
          <li><a href="#">CONTACT US</a></li>
        </ul>
      </div>
    </div>

    <div id="content">
      <div id="cbox">
        <div id="left" class="clearfix">
        	<% flash.each do |key, value| %>
      			<div class="flash <%= key %>"><%= value %></div>
    		<% end %>
        	<%= yield %>
        </div>
		
        <div id="right" class="clsFloatRight">
          <div class="right_header">
            <h2>Latest News</h2>
            <div class="rc_list">
              <div class="rc_bx">
                <h3>Lorem ipsum dolor sit amet consectetur </h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit eaque 
                  voluptatem accusantium dolore laudantium, totam aperiam eaque ipsa quae.</p>
                <div class="dotlineC"></div>
              </div>
              <div class="rc_bx">
                <h3>Lorem ipsum dolor sit amet consectetur </h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit eaque 
                  voluptatem accusantium dolore laudantium, totam aperiam eaque ipsa quae.</p>
                <div class="dotlineC"></div>
              </div>
              <div class="rc_bx">
                <h3>Lorem ipsum dolor sit amet consectetur </h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit eaque 
                  voluptatem accusantium dolore laudantium, totam aperiam eaque ipsa quae.</p>
              </div>
            </div>
            <div class="readmore_r clsFloatRight"><a href="#">read more</a> </div>
          </div>

		  <div class="right_header">
            <h2>Time Schedule</h2>
            <div class="time_box">
				<span>Lorem ipsum dolor sit amet consectetur</span>
				<ul>
					<li><p><a class="Num" href="#">1.</a><a class="name" href="#">Lorum ipsum  vs  dolor sir amet</a><a  class="date" href="#">14 July 2010</a></p></li>
					<li><p><a class="Num" href="#">2.</a><a class="name" href="#">Lorum ipsum  vs  dolor sir amet</a><a  class="date" href="#">14 July 2010</a></p></li>
					<li><p><a class="Num" href="#">3.</a><a class="name" href="#">Lorum ipsum  vs  dolor sir amet</a><a  class="date" href="#">14 July 2010</a></p></li>
					<li><p><a class="Num" href="#">4.</a><a class="name" href="#">Lorum ipsum  vs  dolor sir amet</a><a  class="date" href="#">14 July 2010</a></p></li>
					<li class="clsNoBorder"><p><a class="Num" href="#">5.</a><a class="name" href="#">Lorum ipsum  vs  dolor sir amet</a><a  class="date" href="#">14 July 2010</a></p></li>																				
				</ul>
				<span>Lorem ipsum dolor sit amet consectetur</span>
				<ul>
					<li><p><a class="Num" href="#">1.</a><a class="name" href="#">Lorum ipsum  vs  dolor sir amet</a><a  class="date" href="#">14 July 2010</a></p></li>
					<li><p><a class="Num" href="#">2.</a><a class="name" href="#">Lorum ipsum  vs  dolor sir amet</a><a  class="date" href="#">14 July 2010</a></p></li>
					<li><p><a class="Num" href="#">3.</a><a class="name" href="#">Lorum ipsum  vs  dolor sir amet</a><a  class="date" href="#">14 July 2010</a></p></li>
					<li><p><a class="Num" href="#">4.</a><a class="name" href="#">Lorum ipsum  vs  dolor sir amet</a><a  class="date" href="#">14 July 2010</a></p></li>
					<li class="clsNoBorder"><p><a class="Num" href="#">5.</a><a class="name" href="#">Lorum ipsum  vs  dolor sir amet</a><a  class="date" href="#">14 July 2010</a></p></li>																				
				</ul>		
            </div>
            <div class="readmore_r clsFloatRight"><a href="#">See all time schedule</a> </div>
          </div> 
        </div>
        <div class="clearboth"></div>
      </div>
	  <div class="shadow">
	  </div>
    </div>
    <div id="footer"> 	

</body>
</html>
